[push]
	default = matching
[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	ls = ls-files
	dt = difftool
[color]
	ui = auto
[user]
	name = Ryosuke Fujimaki
	email = fujimaki@qwintet.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
